click==8.1.7
cloudpickle==3.1.0
colorama==0.4.6
contourpy==1.3.1
cycler==0.12.1
dask==2024.11.2
fonttools==4.55.1
fsspec==2024.10.0
kiwisolver==1.4.7
locket==1.0.0
matplotlib==3.9.3
numpy==2.1.3
packaging==24.2
partd==1.4.2
pattern_formation==0.1
pillow==11.0.0
pyparsing==3.2.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2
scipy==1.14.1
six==1.16.0
tk==0.1.0
toolz==1.0.0
